<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="ht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tps://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Google Translate -->

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement(
    {
      pageLanguage: 'en',
      includedLanguages: 'en,hi,bn,te,mr,ta,ur,gu,kn,ml,pa,or',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE
    },
    'google_translate_element'
  );
}
</script>

<script type="text/javascript"
src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>
